{% extends '::base.html.twig' %}

{% block stylesheets %}
    {# 共通のCSSを定義 #}
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/cepertino/jquery-ui.css" rel="stylesheet" />
    {% block stylesheet %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {# 共通のJavascriptを定義 #}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    {% block javascript %}{% endblock %}
{% endblock %}

{% block body %}
    <header>
    {% block header %}
    {% endblock %}
    </header>

    <nav class="navbar navbar-default">
    {% block nav %}
        <div class="container-fluid">
            <div class="nav-header">
                <a class="navbar-brand" href="#">Boostrap</a>
            </div>

            <ul class="nav navbar-nav">
              <li><a href="#">Hoge</a></li>
              <li><a href="#">Fuga</a></li>
              <li><a href="#">Piyo</a></li>
            </ul>
        </div>
    {% endblock %}
    </nav>

    <article>
    {% block contents %}
    <div id="contents">
        {% block flash_message %}
            {# フラッシュメッセージを表示する(別テンプレートからインクルード) #}
            {% include "AppDefaultBundle::_message.html.twig" %}
        {% endblock %}

        <section>
        <div id="content">
            <h1 id="content_header">{% block content_header %}{% endblock %}</h1>
            <div id="content_body">
                {% block content_body %}
                {% endblock %}
            </div>
        </div>
        </section>

        <div id="sidebar">
            {% block widget_01 %}{% endblock %}
            {% block widget_02 %}{% endblock %}
            {% block widget_03 %}{% endblock %}
        </div>
    </article>

    <footer>
    {% block footer %}
        <div id="footer">
            <div class="footer_navi">
                <p id="copyright">Copyright &copy; 2015 www.starlod.net All Rights Reserved.</p>
            </div>
        </div><!-- / #footer -->
    {% endblock %}
    </footer>
{% endblock %}